<div class="main-gird-posts">
  <div class="main-post">
   
    <a href="/" class="post-link">
      <article>
        <div class="main-post-detail">
          <h2 class="main-post-title">goshi</h2>
          <div class="main-post-price"> تومان</div>
          <div class="main-post-time">
            
          </div>
        </div>
        <div class="main-post-thumbnail">
          <img src="/" alt="" />
        </div>
      </article>
    </a>
   
  </div>
</div>
